# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# ========================
# Virtual Environment
# ========================
.env
.venv
env/
venv/
ENV/

# ========================
# IDE
# ========================
.idea/
.vscode/
*.swp
*.swo

# ========================
# Data
# ========================
data/*
!data/.gitkeep

# ========================
# Notebook
# ========================
notebooks/*

# Model & Checkpoints
/models/
*.pt
*.pth
*.ckpt
checkpoints/

# ========================
# Logs
# ========================
logs/
*.log
tensorboard/
runs/

# ========================
# Cache
# ========================
.cache/
*.pkl
*.joblib

# ========================
# OS
# ========================
.DS_Store
Thumbs.db